airbnbSpider_scrapy/airbnbSpider/airbnbSpider/historyCode/calendarTestResult.pptx
houselist_us.*

airbnbSpider_scrapy/airbnbSpider/airbnbSpider/historyCode/*.json

airbnbSpider_scrapy/airbnbSpider/airbnbSpider/historyCode/api.json
airbnbSpider_scrapy/airbnbSpider/airbnbSpider/nohup.out
